.editor-area-monospaced {
    -fx-font: normal 14px monospaced;
}

.small-button {
    -fx-font: normal 10px sans-serif;
}

.open-file-tab {
    -fx-font: normal 10px sans-serif;
}

.open-file-tab.has-changes {
    -fx-font-weight: bold;
    -fx-background-color: #EEEE44;
}