.editor-area-monospaced {
    -fx-font: normal 14px monospaced;
}

.line-number-area {
    -fx-display-caret: false;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-highlight-fill: grey;
    -fx-highlight-text-fill: white;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 0px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

.line-number-area .content {
    -fx-background-color: grey;
}

.line-number-area:focused .content {
    -fx-background-color: grey;
}

.line-number-area .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.line-number-area .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.open-file-tab {
    -fx-font: normal 10px sans-serif;
}

.open-file-tab.has-changes {
    -fx-font-weight: bold;
    -fx-background-color: #EEEE44;
}

.hierarchy-label {
    -fx-padding: 5px 5px 5px 5px;
    -fx-text-alignment: center;
}

.flash-warning {
    -fx-background-color: linear-gradient(to bottom, #ffd65e, #febf04);
    -fx-padding: 2px 2px 2px 2px;
    -fx-border-insets: 0;
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-style: solid;
    -fx-border-color: darkgray;
}